
 *{
    cursor: none!important;
}
  .cursor {
      position: absolute;
      background-color: #ffffff;
      border: 1px solid white;
      width: 40px;
      height: 40px;
      top: -25px;
    left: -25px;
      border-radius: 100%;
      user-select: none;
      pointer-events: none;
      mix-blend-mode: exclusion;
      z-index: 10000;
  
      -webkit-transform: scale(0.25);
           -moz-transform: scale(0.25);
               -ms-transform: scale(0.25);
                -o-transform: scale(0.25);
                       transform: scale(0.25);
  
      -webkit-transition: 0.7s cubic-bezier(0.55, -1.27, 0.0, 1.33) transform, 0.2s cubic-bezier(0.55, -0.27, 0.0, 0.13) background-color;
           -moz-transition: 0.7s cubic-bezier(0.55, -1.27, 0.0, 1.33) transform, 0.2s cubic-bezier(0.55, -0.27, 0.0, 0.13) background-color;
                 -o-transition: 0.7s cubic-bezier(0.55, -1.27, 0.0, 1.33) transform, 0.2s cubic-bezier(0.55, -0.27, 0.0, 0.13) background-color;
                       transition: 0.7s cubic-bezier(0.55, -1.27, 0.0, 1.33) transform, 0.2s cubic-bezier(0.55, -0.27, 0.0, 0.13) background-color;
  }
  .cursor.active {
      border: 1px solid rgba(255, 255, 255, 0.5);
      background-color: rgba(255, 255, 255, 0.0);
      -webkit-transform: scale(1.2);
           -moz-transform: scale(1.2);
               -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
                       transform: scale(1.2);
  }
  
  .white-bg .cursor,
  .fade-white .cursor {
      background-color: #cecece;
      border: 1px solid #585858;
  }
  .white-bg .cursor.active,
  .fade-white .cursor.active {
      border: 1px solid rgba(89, 89, 89, 0.5);
      background-color: rgba(255, 255, 255, 0.0);
  }
  
  