@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:200');
@import "headerImg.css";
@import "preloader.css";
@import "nav.css";

::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0.0);
  scrollbar-width: none;
}
html{
  overflow-y: hidden;
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  *, *:before, *:after {
    box-sizing: inherit;
  }
header {
  overflow: hidden;
  box-shadow: inset 0 -4em 4em -4em #2b110e;
}


h1 {
  margin: 0;
  font-family: Oswald;
  font-size: 2em;
  line-height: 1;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.7);
}
h2 {
  margin: 2em 0 0;
  font-family: Oswald;
  font-size: 1.6em;
  line-height: 1;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.7);
}
p, a {
  font-family: Open Sans;
  color: rgba(255, 255, 255, 0.7);
}

.test{
    background-color: rgb(30, 98, 156);
    position: relative;
    height: 700px;
}



